body{
    margin: 0;
    background-color: rgb(238, 192, 255);
}

#navegacion-superior{
    background-color: #34044cd4;
    display: flex;
    align-items: start;
    justify-content: center;
}

    #navegacion-superior-logo{
        width: 8vw;
        padding:0 50px;
    }

    #navegacion-superior-titulo{
        font-size: 7vw;
        color: rgb(252, 225, 249);
        margin: 0;
    }

.contenido-pagina{
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 120vh;
}

@media (min-width:1200px) and (max-width:1350px) {
    .contenido-pagina{
        display: grid;
        grid-template-columns: 20vw 1fr;
        grid-template-rows: 130vh;
    }
}

@media (min-width:1350px) and (max-width:1500px) {
    .contenido-pagina{
        display: grid;
        grid-template-columns: 20vw 1fr;
        grid-template-rows: 145vh;
    }
}   

@media (min-width:1500px) and (max-width:1700px) {
    .contenido-pagina{
        display: grid;
        grid-template-columns: 20vw 1fr;
        grid-template-rows: 160vh;
    }
}

@media (min-width:1700px) and (max-width:2500px) {
    .contenido-pagina{
        display: grid;
        grid-template-columns: 20vw 1fr;
        grid-template-rows: 190vh;
    }
}


.menu-opciones{
    background-color: #8844a3;
    width: 20vw;
    position: fixed;
}

    .menu-opciones-productos{
        margin: 15px;
        display: grid;
        row-gap: 5vh;
    }

        .link-menu-opciones{
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: 1fr;

            text-decoration: none;
            color: white;
        }

        .opciones-imagen{
            width: 100%;
            margin: auto;
        }

        

        #menu-conenedor-texto-carrito{
            display: flex;
            justify-content: end;
            align-items: end;
        }

        .opciones-texto{
            font-size: 2vw;
            font-weight: bold;
            margin:auto 0;
        }

        #autor{
            font-size: 2vw;
            color:white;
        }

#ayuda{
    grid-column: 1;
    background-color: #8844a3;
}

.ejemplos-productos{
    grid-column: 2;
}

.ejemplos-productos > h2{
    text-align: center;
    font-size: 8vw;
}

.ejemplos-productos > h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 3.5vw;
    font-weight: lighter;
}

.ejemplos-productos > img {
    width: 70%;
    margin:0 15%;
}

@media (max-width:800px) {
    
#pagina-celular{
    position: relative;
    background-color: rgb(238, 192, 255);
}

#navegacion-superior{
    background-color: #34044cd4;
    display: grid;
    grid-template-columns: 0.9fr 1fr 4fr;
    align-items: start;
    position: fixed;
    z-index: 7;
}

    #navegacion-superior-logo{
        width: 13vw;
        padding:0 5vw ;
    }

    #navegacion-superior-titulo{
        font-size: 12vw;
        color: rgb(252, 225, 249);
        margin: 0;
    }

.contenido-pagina{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh auto;
}

.menu-opciones{
    background-color: #8844a3cb;
    margin-top: 13.5vw;
    width: 100vw;
    height: 10vh;
    position: fixed;
}

    .menu-opciones-productos{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 10vh;
        text-align: center;
    }

        .opciones-imagen{
            display: none;
        }

        #ayuda{
            display: none;
        }

        #autor{
            display: none;
        }

        .link-menu-opciones{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: white;
        }

        .opciones-imagen{
            width: 100%;
            margin: auto;
        }

        .opciones-imagen-opcion-carrito{
            margin-top: 50px;
        }

        #menu-conenedor-texto-carrito{
            display: flex;
            justify-content: end;
            align-items: end;
        }

        .opciones-texto{
            font-size: 4vw;
            font-weight: bold;
            margin:auto 0;
        }

        .opciones-texto--carrito{
            margin-top: auto;
        }

        #autor{
            font-size: 3vw;
            color:white;
            margin-top: 50px;
        }

#ayuda{
    grid-column: 1;
    background-color: #8844a3;
}

.ejemplos-productos{
    grid-column: 1;
    grid-row: 2;
}

.ejemplos-productos > h2{
    margin-top: 9vh;
    margin-bottom: 0;
    text-align: center;
    font-size: 15vw;
}

.ejemplos-productos > h3 {
    font-size: 6vw;
}

.articulos-productos{
    display: block;
    width: 60%;
    height: 25vh;
    margin: auto;
    margin-bottom: 10vh;
}
}

